PORT=3000
DB_HOST=localhost
DB_PORT=3306
DB_USER=practicas_user
DB_PASSWORD=practicas_pass
DB_NAME=practicas_db
CORS_ORIGIN=http://localhost:4200

PAYPAL_CLIENT_ID = <your_paypal_client_id>
PAYPAL_CLIENT_SECRET = <your_paypal_client_secret>
PAYPAL_BASE_URL = https://api-m.sandbox.paypal.com
